# ------------------------------- .dockerignore ------------------------------ #
# ---- https://docs.docker.com/engine/reference/builder/#dockerignore-file ---- #

.DS_Store

LICENSE
*.md

.gitignore
.git/
.venv/
.pytest_cache
__pycache__/
